@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src:
    url('../src/assets/fonts/NotoSansKR-Medium.woff') format('woff'),
    url('../src/assets/fonts/NotoSansKR-Medium.woff2') format('woff2');
}
